@use './mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: rgb(221, 221, 221);
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.header {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
	padding: 20px;

	&__span {
		font-weight: 900;
		font-size: 40px;
	}
}

.main {
	margin-top: 50px;

	.books {
		display: flex;
		flex-direction: column;
		gap: 50px;
		padding: 0 20px;
	}

	.books__button {
		background-color: rgb(255, 255, 255);
		border: none;
		border-radius: 10px;
		padding: 5px 20px;
		cursor: pointer;
		font-size: 32px;
		font-weight: 700;
		transition: box-shadow 0.3s;
		display: block;
		width: 300px;
		align-self: center;
	}

	.books__button:hover {
		box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
	}

	.books__cards {
		display: grid;
		// grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-auto-rows: 1fr;
		gap: 20px;
	}

	.books__card {
		background-color: white;
		border-radius: 10px;
		padding: 20px;
		text-align: center;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		word-wrap: break-word;
	}

	.books__card > p {
		border-bottom: 1px solid rgb(221, 221, 221);
	}

	.books__card-title {
		font-weight: 700;
	}

	.books__card-delete, .books__card-read {
		width: 100%;
		border: none;
		border-radius: 10px;
		padding: 10px 5px;
		font-weight: 700;
		transition: background-color 0.3s;
		cursor: pointer;
		font-size: 16px;
	}

	.books__card-read {
		background-color: rgb(202, 202, 202);

		&--active {
			background-color: rgb(55, 233, 48)
		}
	}

	.books__card-delete {
		background-color: rgb(247, 112, 112);
	}

	.books__card-delete:hover, .books__card-read:hover {
		background-color: rgb(221, 221, 221);
	}

	.books__modal-overlay {
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 0;
		left: 0;
		display: none;

		&--active {
			display: block;
		}
	}

	.books__modal {
		display: flex;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		transform: scale(0);
		transition: transform 0.3s ease;

		&--active {
			transform: scale(1);
		}

		&-container {
			background-color: white;
			width: 350px;
			border-radius: 10px;
			padding: 10px 20px;
			position: relative;
		}
	}

	.books__modal-close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 16px;
		font-weight: 900;
		cursor: pointer;
		background-color: transparent;
		border: none;
		padding: 10px;
	}

	.books__modal-header {
		text-align: center;
		margin-bottom: 20px;
		font-size: 30px;
	}

	.books__modal-form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.books__modal-form-input {
		width: 100%;
		font-size: 20px;
		background-color: rgb(221, 221, 221);
		border: none;
		border-radius: 10px;
		padding: 10px;
	}

	.books__modal-form-read {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		.books__modal-form-label {
			font-size: 16px;
		}

		.books__modal-form-checkbox {
			width: 20px;
			height: 20px;
			accent-color: rgb(221,221,221);
		}
	}

	.books__modal-form-info {
		font-size: 12px;
		color: rgb(247, 112, 112);
		font-weight: 700;
		text-align: center;
		display: none;
	}

	.books__modal-form-submit {
		border: none;
		border-radius: 10px;
		background-color: rgb(55, 233, 48);
		font-weight: 900;
		font-size: 16px;
		padding: 10px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.books__modal-form-submit:hover {
		background-color: rgb(221, 221, 221);
	}
}

.footer {
	text-align: center;
	margin-top: auto;
	font-size: 16px;
	margin-bottom: 10px;
}
